In this project, we use Better auth for authentication. If you want to know more about Better auth, please visit the links below:
- Reddit: https://www.reddit.com/r/better_auth/
- GitHub: https://github.com/better-auth/better-auth
- Documentation: https://better-auth.com
